html, body {
  margin: 0;
  font-family: 'adelle-sans','serif','Open Sans';
  text-decoration: none; 
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}



.arrows {
    bottom: 2%;
    left:0;
    right:0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center;
}

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 32px;
  width: 32px; }

.tcon-svgchevron path {
  -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: white;
  stroke-width: 1.35px; }

.tcon-svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }







img {
  max-width: 100%;
}

br {
  display: block;
  content: "";
  margin: 25px 0;
}

a {
  color: #000;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 70px;
    background: transparent;
    color: #666;
    z-index: 1000000;
}
header.clonedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    border-bottom: 1px solid rgb(210,210,210);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clonedHeader {
    transform: translateY(0);
}


.top-fixed {
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 1% 0;
}

.contact-fixed {
  margin: 12px 10px 0;
  text-align: center;
  padding: 0.6em 1.5em;
  background-color: transparent;
  text-shadow: none;
  color: #605ca8;
  border: 2px solid #605ca8;
  border-radius: 4px;
  text-decoration: none;
  float: right;
  line-height: 20px;
  font-size: 0.75em;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.85;
}

.contact-fixed:hover {
  opacity: 1.0;
}

.contact-top {
  margin: 17px 10px;
  text-align: center;
  padding: 0.6em 1.5em;
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  line-height: 20px;
  float: right;
  font-size: 0.75em;
  letter-spacing: 1px;
}

.contact-top:hover {
  background-color: rgba(0,0,0,.4);
}

.background {
    background: url('../img/bg.png');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.top {
  min-width: 100%;
  max-height: 70px;
  padding: 0 1% 0;
  margin: 0 auto;
  position: absolute;
  z-index: 100000;
}

.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}

.logo-white, .logo-black {
  margin: 20px 10px 0;
  background-size: 242px 42px;
  max-height: 21px;
}

.cd-headline {
  font-family: 'adelle-sans', 'sans serif';
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 3.4em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 105px;
}

.disruptive {
  color: #FF303F;
}

.solutions {
  color: #FFCC00;
}

.subtitle {
  max-width: 494px;
  margin: 2px auto 0;
  text-align: center;
  color: #fff;
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.quote {
  text-align: center;
  font-size: 1.15em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.3px;
}

.about {
  width: 100%;
  height: 1290px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,f6f6f6+89,fcfcfc+100 */
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(252,252,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(252,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(252,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 87px 5% 0;
}

.intro {
  font-size: 1.2em;
  color: black;
  font-weight: 300;
  margin-bottom: -5px;
}

.powered-by {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  font-size: 2.2em;
  font-weight: 800;
  letter-spacing: 10px;
  color: #000;
  text-transform: uppercase;
}

.humans {
  color: #fff;
  margin-top: 55px;
}

.mission-led {
  margin-top: 90px;
}

.help {
  text-transform: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 7px;
  margin-top: 95px;
}

.about-us {
  margin: 35px auto 0;
  max-width: 760px;
  text-align: center;
  font-size: 1.05em;
  line-height: 1.7;
  font-weight: 300;
  color: rgb(100,100,100);
}

.flat-devices {
  margin-top: 60px;
  background-size: 1174px 626px;
  max-height: 313px;
}

.core-services {
  margin: 0 auto;
  max-width: 1100px;
}

.core-title, 
.work-title {
  margin: 80px auto 0;
  text-align: left;
  font-size: 0.95em;
  line-height: 1.7;
  font-weight: 600;
  color: black;
}

.work-title {
  margin-top: 60px;
  font-size: 2.5em;
  color: #fff;
  text-align: center;
}

.love-to-do,
.recent-work {
  color: rgb(120,120,120);
  font-weight: 300;
}

.line-separator-grey {
  height: 1px;
  background: rgb(210,210,210);
  border-bottom: 1px solid rgb(210,210,210);
}

.bar {
  margin-top: 120px;
  max-width: 100%;
  height: 45px;
  border-top: 1px solid #9eb9d5;
  border-bottom: 1px solid #9eb9d5;
}

.bar2 {
  margin-top: 70px;
}

.bar3 {
  margin-top: 85px;
}

.bar-title {
  background: rgba(157,185,214,0.1);
  border-right: 1px solid #9eb9d5;
  padding: 11px 26px;
  display: inline-flex;
  float: left;
}

.approach, .work, .mission-bar {
  font-size: 0.8em;
  font-weight: 300;
  color: #333E48;
  letter-spacing: 2px;
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.work {
  color: white;
}

.services-flexbox {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  margin: 30px 0 0;
  background-color: white;
  border: 1px solid #e6e6e6; 
  padding: 45px 10px 40px;
  box-shadow: 0 2px 1px rgb(233,233,233);
  overflow: hidden;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  flex-grow: 1;
}

.prod-strategy, 
.ui-ux-design {
  border-right: 1px solid #e6e6e6;  
}


.strategy-title, 
.design-title,
.dev-title {
  margin: 15px auto;
  font-weight: 600;
}

.services-description {
  max-width: 250px;
  margin: 0 auto;
  font-size: 0.95em;
  line-height: 1.7;
  font-weight: 300;
  color: rgb(120,120,120); 
}

.recent {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343a64+0,5a6ead+66,7798e5+100 */
  background: rgb(52,58,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(52,58,100,1) 0%, rgba(90,110,173,1) 66%, rgba(119,152,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(52,58,100,1) 0%,rgba(90,110,173,1) 66%,rgba(119,152,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(52,58,100,1) 0%,rgba(90,110,173,1) 66%,rgba(119,152,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a64', endColorstr='#7798e5',GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 2890px;
  text-align: center;
  padding: 30px 5% 0;
}

.recent-work {
  color: rgb(200,200,200);
}

.line-separator-dark {
  height: 1px;
  background: rgb(190,190,190);
  border-bottom: 1px solid rgb(190,190,190);
}

.zep {
  margin-top: 50px;
  padding-left: 8%;
  background-size: 2218px 1002px;
  max-height: 501px;
}

.zep-title, .flesy-title, .linkedin-title {
  max-width: 960px;
  margin: 60px auto 10px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 3px;
}

.zep-title {
  margin-top: 80px;
}

.flesy-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  margin-top: 120px;
  align-items: center;
}

.linkedin-container {
  margin-top: 170px;
}

.zep-description, .flesy-description, .linkedin-description {
  max-width: 600px;
  margin: 0 auto 35px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
}

.flesy-title, .flesy-description {
  text-align: left;
}

.flesy-info {
  flex-grow: 1;
}

.flesy-title {
  margin-top: 0;
}

.flesy-description {
  max-width: 340px;
  margin: 0;
}

.flesy-img {
  background-size: 1208px 1400px;
  max-height: 700px;
}

.play-btn, .download-flesy, .linkedin-btn {
  margin: 17px 10px;
  text-align: center;
  padding: 0.8em 3em;
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  line-height: 20px;
  font-size: 0.85em;
  letter-spacing: 1px;
}

.download-flesy {
  margin: 25px auto;
  float: left;
}

.play-btn:hover, .download-flesy:hover, .linkedin-btn:hover {
  background-color: #fff;
  color: #373F6B;
}

.linkedin {
  margin-top: 45px;
  background-size: 2880px 1790px;
  max-height: 895px;
  box-shadow: 0 3px 50px #202640;
}

.mission-bar {
 color: #333E48; 
}

.mission {
  width: 100%;
  height: 685px;
  text-align: center;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,fff9fa+89,ffedee+100 */
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(255,249,250,1) 89%, rgba(255,237,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(255,249,250,1) 89%,rgba(255,237,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(255,249,250,1) 89%,rgba(255,237,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ffedee',GradientType=0 ); /* IE6-9 */
}

.mission-statement {
  font-family: 'reklame-script';
  margin: 100px auto 0;
  max-width: 840px;
  text-align: center;
  font-size: 3.6em;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000;
}

.rocket-container {
  margin: 0 auto;
  text-align: center;
}

.rocket-img {
  background-size: 142px 394px;
  max-height: 197px;
  margin: 70px auto 0;
}


.icons-bottom {
  margin-top: -130px;
  background-size: 2924px 518px;
  max-height: 259px; 
}


.talk {
  margin-top: 5px;
  color: #fff;
  font-size: 6em;
  text-decoration: none;
}

.sliding-u-l-r-l-inverse {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l-inverse:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    transition: width 0s ease;
}
.sliding-u-l-r-l-inverse:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    background: white;
    transition: width .5s ease;
}
.sliding-u-l-r-l-inverse:hover:before {
    width: 0%;
    background: white;
    transition: width .5s ease;
}
.sliding-u-l-r-l-inverse:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

.hire-us-container {
  height: 450px;
  background-color: #252525;
  text-align: center;
  padding: 50px 8% 0; 
}

footer {
  padding: 5px 2%;
  background-color: #252525;
  color: #999999;
  text-align: left;
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 0.8em;
}

.footer-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 1100px;
  margin: 0 auto;
  border-top: 1px #999999 solid;
}

.email-contact {
  align-self: center;
}

.footer-center {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.love {
  align-self: center;
}
.love-wrap {
  flex-grow: 1;
}

.contact-bottom {
  color: #999999;;
}

.contact-bottom:hover {
  opacity: 0.85;
}

.contact-bottom:before {
  content: "";
  background-image: url('../img/email.png');
  background-size: 20px 14px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.heart {
  color: #ed0f04;
}

.line {
  background-size: 800px 30px;
  width: 400px;
  height: 15px;
}









/**************************************************************** 
*****************************************************************
*****************************************************************

MEDIA QUERIES

*****************************************************************
*****************************************************************
****************************************************************/

@media screen and (max-width: 1153px) and (min-width: 769px) {

.cd-headline {
  font-size: 2.7em;
  padding: 0 3%;
  line-height: 70px;
}

.subtitle {
  margin-top: 10px;
  font-size: 1.1em;
  line-height: 28px;
}

.flesy-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 1090px 1262px;
  max-height: 631px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 height: 1650px;  
}

.recent {
  height: 2700px;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;

}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}

.about-us {
  font-size: 0.95em;
}

.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by {
  font-size: 1.5em;
}

.mission {
  height: 750px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 60px auto 0;
  max-width: 840px;
  font-size: 3.6em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 10px;
  font-size: 5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}

.line {
  height: 12px;
}


}

@media screen and (max-width: 768px) and (min-width: 481px) {

.cd-headline {
  font-size: 1.9em;
  padding: 0 1%;
  line-height: 70px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 5px;
  font-size: 1.2em;
  line-height: 28px;
}

.flesy-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 1090px 1262px;
  max-height: 631px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 height: 1650px;  
}

.recent {
  height: 2475px;
  padding-top: 10px;
}

.zep-title {
  margin-top: 70px;
}

.icons-bottom {
  display: none;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}

.about-us {
  font-size: 0.95em;
}

.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by {
  font-size: 1.5em;
}

.mission-led {
  margin-top: 105px;
}

.mission {
  height: 650px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 50px auto 0;
  max-width: 840px;
  font-size: 2.7em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 0;
  font-size: 5.5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}

.line {
  height: 12px;
}


}


@media screen and (max-width: 480px) and (min-width: 321px) {

.cd-headline {
  font-size: 1.22em;
  padding: 0 1%;
  line-height: 70px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: -5px;
  font-size: 0.95em;
  line-height: 25px;
}

.flesy-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

/*.flesy-img {
  background-size: 806px 934px;
  max-height: 467px;
}*/

.flesy-img {
  background-size: 648px 750px;
  max-height: 375px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 height: 1765px;  
}

.recent {
  height: 2015px;
  padding-top: 10px;
}

.zep-title, .flesy-title, .linkedin-title {
  margin-top: 40px;
  font-size: 1.6em;
}

.zep-title {
  margin-top: 80px;
}

.linkedin-title {
  margin-top: 120px;
}

.icons-bottom {
  display: none;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}

.about-us {
  font-size: 0.95em;
}

.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by {
  font-size: 1.5em;
}

.mission-led {
  margin-top: 105px;
}

.mission {
  height: 650px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 50px auto 0;
  max-width: 840px;
  font-size: 2.1em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 0;
  font-size: 5.5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}

.line {
  height: 12px;
}



}

/***************** 

FIM 

*****************/




@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1136px) {


        /***********************************

        iPhone 5

        ************************************/

.contact-top, .contact-fixed {
  display: none;
}

.clonedHeader {
  display: none;
}

.top, .top-fixed {
  text-align: center;
}

.logo-white {
  margin: 50px auto;
}

.logo-black {
  margin: 20px auto;
}

.cd-headline {
  font-size: 1.26em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: -2px;
  font-size: 1.04em;
  line-height: 25px;
}

.flesy-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 478px 554px;
  max-height: 277px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 55px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 padding-top: 60px;
 height: 1815px;  
}

.bar {
  margin-top: 75px;
}

.bar2 {
  margin-top: 60px;
}

.bar3 {
  margin-top: 60px;
}

.bar-title {
  padding: 11px 12px;
}

.recent {
  height: 1815px;
  padding-top: 10px;
}

.zep-title, .flesy-title, .linkedin-title {
  margin-top: 35px;
  font-size: 1.5em;
}

.zep-title {
  margin-top: 60px;
}

.icons-bottom {
  display: none;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 1010px;
  padding: 35px 0 0;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 15px;
  border-right: 0;
}

.strategy-title, .design-title, .dev-title {
  font-size: 1.15em;
}

.services-description {
  margin-left: 2.5px;
  margin-bottom: 15px;
  font-size: 1.02em;
}

.about-us {
 font-size: 1.02em;
}

.powered-by {
  font-size: 1.3em;
  letter-spacing: 3px;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.02em;
} 

.mission-led {
  margin-top: 105px;
}

.mission {
  height: 650px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 50px auto 0;
  max-width: 840px;
  font-size: 1.90em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}


.hire-us-container {
  height: 300px;
}

.talk {
  margin-top: 0;
  font-size: 3.5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  margin-top: 50px;
  font-size: 1em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.footer-center {
 -webkit-order: 1;
  margin: 5px 0;
}

.email-contact {
  -webkit-order: 2;
  margin-bottom: 10px;
}

.love {
  -webkit-order: 3;
  margin-bottom: 2px;
}

.line {
  background-size: 600px 30px;
  width: 200px;
  height: 12px;
}


}


/***************** 

FIM 

*****************/

@media screen and (min-device-width: 360px) and (max-device-width: 640px) {

.recent {
  height: 1840px;
}

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6

        ************************************/

.logo-black {
  margin: 22px auto;
}

.cd-headline {
  font-size: 1.51em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 2px;
  font-size: 1.12em;
  line-height: 28px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 980px;
  padding: 35px 1.5% 0;
}

.powered-by {
  font-size: 1.55em;
}

.about-us {
  font-size: 1.1em;
}

.services-description {
  font-size: 1.1em;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.1em;
} 

.about {
 padding-top: 60px;
 height: 1800px;  
}


.bar2 {
  margin-top: 55px;
}


.recent {
  height: 1835px;
  padding-top: 10px;
}

.mission {
  height: 580px;
}

.help {
  margin-top: 56px;
  font-size: 1em;
}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
 
        /***********************************

        iPhone 6 Plus Portrait

        ************************************/

.logo-white, .logo-black {
  background-size: 252px 52px;
  max-height: 26px;
}


.logo-black {
  margin: 19px auto;
}

.cd-headline {
  font-size: 1.68em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 4px;
  font-size: 1.13em;
  line-height: 28px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 1000px;
  padding: 35px 1.5% 0;
}

.about {
 padding-top: 60px;
 height: 1850px;  
}

.powered-by {
  font-size: 1.6em;
}

.about-us {
  font-size: 1.1em;
}

.services-description {
  font-size: 1.1em;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.1em;
} 

.recent {
  height: 1880px;
  padding-top: 10px;
}

.help {
  margin-top: 60px;
  font-size: 1em;
}

.footer-center {
  order: 1;
  margin: 5px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 6px;
}

.love {
  order: 3;
  margin-bottom: -2px;
}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6 Plus Landscape

        ************************************/




}

/***************** 

FIM 

*****************/



