
/********* GENERAL STYLES *********/

html, body {
  margin: 0;
  font-family: 'adelle-sans','serif','Open Sans';
  text-decoration: none; 
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}







/********* ARROW SCROLL DOWN *********/

.arrows {
  bottom: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 32px;
  width: 32px; }

.tcon-svgchevron path {
  -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: white;
  stroke-width: 1.35px; }

.tcon-svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }







/********* RESPONSIVE MENU *********/

.overlay {
  z-index: 99;
  position: fixed;
  background: #FF5252;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.97;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 25px;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}







/********* RESPONSIVE MENU ICON *********/

.nav-icon1 {
  width: 30px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon1 span:nth-child(1) {
  top: 10px;
}

.nav-icon1 span:nth-child(2) {
  top: 18px;
}

.nav-icon1 span:nth-child(3) {
  top: 26px;
}

.nav-icon1.open1 span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-icon1.open1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon1.open1 span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-icon1 {
  display: none;
}

.fixIt {
  position: fixed;
  left: 0;
  overflow: hidden;
  width: 100%;
  }






/********* MAIN HEADER & CLONED HEADER *********/

header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 70px;
    background: transparent;
    color: #666;
    z-index: 1000000;
}

header.clonedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    border-bottom: 1px solid rgb(210,210,210);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clonedHeader {
    transform: translateY(0);
}







/********* DESKTOP MENU *********/

.top-fixed {
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 1% 0;
}

.menu-ul {
  float: right;
  list-style: none;
  margin-top: 18px;
}

.menu-fixed {
  float: right;
  list-style: none;
  margin-top: -4px;
}

.menu-black {
  margin-left: 35px;
  text-align: center;
  color: #000;
  text-decoration: none;
  line-height: 20px;
  font-size: 0.95em;
  letter-spacing: 1.3px;
}

.menu-item {
  margin-left: 35px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  font-size: 0.95em;
  letter-spacing: 1.3px;
}

li {
  display: inline;
}

li:last-child {
  margin-right: 10px;
}

.sliding-middle-out, .sliding-middle-out-fixed {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.sliding-middle-out:after, .sliding-middle-out-fixed:after {
  content: '';
  display: block;
  margin: 2px auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after, .sliding-middle-out-fixed:hover:after {
  width: 100%;
  background: #fff;
}

.sliding-middle-out-fixed:hover:after {
  background: #000;
}






/********* FULLSCREEN BACKGROUND / FIRST SCROLL *********/

.background {
  background: url('../img/bg.jpg');
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-position:50% 50%\9 !important;
}

.top {
  min-width: 100%;
  max-height: 70px;
  padding: 0 1% 0;
  margin: 0 auto;
  position: absolute;
  z-index: 100000;
}

.fullscreen,
.content-a {
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
  height:auto;
  min-height:100%;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}

.logo-white, .logo-black {
  margin: 20px 10px 0;
  background-size: 242px 42px;
  max-height: 21px;
}

.cd-headline {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 3.4em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 105px;
}

.subtitle {
  max-width: 494px;
  margin: 2px auto 0;
  text-align: center;
  color: #fff;
  font-size: 1.15em;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.red {
  color: #FF303F;
}

.yellow {
  color: #FFCC00;
}






/********* ABOUT / POWERED BY *********/

.about {
  width: 100%;
  height: 1395px;
  text-align: center;
  padding: 87px 5% 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,f6f6f6+89,fcfcfc+100 */
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(246,246,246,1) 89%, rgba(252,252,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(252,252,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(246,246,246,1) 89%,rgba(252,252,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

.powered-by, .our-studio, .recent-work, .our-mission {
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;
  font-weight: 800;
  letter-spacing: 10px;
  color: #FF303F;
  text-transform: uppercase;
}

.powered-by {
  color: #000;
}

.line {
  background-size: 800px 30px;
  width: 400px;
  height: 15px;
}

.about-us, .our-studio-description, .recent-work-description, .our-mission-description {
  margin: 35px auto 0;
  max-width: 760px;
  text-align: center;
  font-size: 1.05em;
  line-height: 1.7;
  font-weight: 300;
  color: rgb(100,100,100);
}

.our-studio-description, .recent-work-description, .our-mission-description {
  margin: 10px auto 20px;
}

.recent-work-description {
  color: #fff;
}

.our-studio-description {
  margin-bottom: 40px;
}

.devices {
  margin-top: 60px;
  background-size: 1174px 626px;
  max-height: 313px;
}

.core-services {
  margin: 0 auto;
  max-width: 1100px;
}

.our-studio, .recent-work, .our-mission {
  margin: 100px auto 0;
  text-align: center;
}

.recent-work {
  margin-top: 70px;
  color: #fff;
}

.our-mission {
  margin-top: 80px;
}

.services-flexbox {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  margin: 30px 0 0;
  background-color: white;
  border: 1px solid #e6e6e6; 
  padding: 45px 10px 40px;
  box-shadow: 0 2px 1px rgb(233,233,233);
}

.prod-strategy, 
.ui-ux-design, 
.development {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  border-right: 1px solid #e6e6e6; 
}

.development {
  border-right: none; 
}

.strategy-title, 
.design-title,
.dev-title {
  margin: 15px auto;
  font-weight: 600;
}

.services-description {
  max-width: 250px;
  margin: 0 auto;
  font-size: 0.95em;
  line-height: 1.7;
  font-weight: 300;
  color: rgb(120,120,120); 
}






/********* RECENT WORK *********/

.recent {
  width: 100%;
  height: 2975px;
  text-align: center;
  padding: 30px 5% 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343a64+0,5a6ead+66,7798e5+100 */
  background: rgb(52,58,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(52,58,100,1) 0%, rgba(90,110,173,1) 66%, rgba(119,152,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(52,58,100,1) 0%,rgba(90,110,173,1) 66%,rgba(119,152,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(52,58,100,1) 0%,rgba(90,110,173,1) 66%,rgba(119,152,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a64', endColorstr='#7798e5',GradientType=0 ); /* IE6-9 */
}

.see-all {
  color: #fff;
}

.zep {
  margin-top: 50px;
  padding-left: 8%;
  background-size: 2218px 1002px;
  max-height: 501px;
}

.zep-title, .flesy-title, .linkedin-title {
  max-width: 960px;
  margin: 60px auto 10px;
  text-align: center;
  color: #fff;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 1px;
}

.zep-title {
  margin-top: 80px;
}

.linkedin-container {
  margin-top: 170px;
}

.zep-description, .flesy-description, .linkedin-description {
  max-width: 600px;
  margin: 0 auto 35px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
}

.flesy-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  margin-top: 120px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.flesy-info {
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.flesy-title, .flesy-description {
  text-align: left;
}

.flesy-title {
  margin-top: 0;
}

.flesy-description {
  max-width: 340px;
  margin: 0;
}

.flesy-img {
  background-size: 1208px 1400px;
  max-height: 700px;
}

.play-btn, .download-flesy, .linkedin-btn {
  margin: 17px 10px;
  text-align: center;
  padding: 0.8em 3em;
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  line-height: 20px;
  font-size: 0.85em;
  letter-spacing: 1px;
}

.download-flesy {
  margin: 25px auto;
  float: left;
}

.play-btn:hover, .download-flesy:hover, .linkedin-btn:hover {
  background-color: #fff;
  color: #373F6B;
}

.linkedin {
  margin-top: 45px;
  background-size: 2880px 1790px;
  max-height: 895px;
  box-shadow: 0 3px 50px #202640;
}




/*.bar {
  margin-top: 120px;
  max-width: 100%;
  height: 45px;
}

.bar2 {
  margin-top: 70px;
}

.bar3 {
  margin-top: 85px;
}

.bar-title {
  padding: 11px 26px;
  display: inline-flex;
  float: left;
}

.more, .see-all {
  margin: 12px auto;
  float: right;
  font-size: 0.9em;
  font-weight: 300;
}

.see-all {
  color: #fff;
}

.approach, .work, .mission-bar {
  font-size: 0.8em;
  font-weight: 300;
  color: #333E48;
  letter-spacing: 2px;
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.work {
  color: white;
}

.mission-bar {
 color: #333E48; 
}*/






/********* MISSION *********/

.mission {
  width: 100%;
  height: 770px;
  text-align: center;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,fff9fa+89,ffedee+100 */
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(255,249,250,1) 89%, rgba(255,237,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(255,249,250,1) 89%,rgba(255,237,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(255,249,250,1) 89%,rgba(255,237,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ffedee',GradientType=0 ); /* IE6-9 */
}

.mission-statement {
  font-family: 'reklame-script';
  margin: 70px auto 0;
  max-width: 840px;
  text-align: center;
  font-size: 3.6em;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000;
}

.rocket-container {
  margin: 0 auto;
  text-align: center;
}

.rocket-img {
  background-size: 142px 394px;
  max-height: 197px;
  margin: 95px auto 0;
}

.icons-bottom {
  margin-top: -120px;
  background-size: 2924px 518px;
  max-height: 259px; 
}






/********* FOOTER *********/

.help {
  text-transform: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 7px;
  margin-top: 95px;
}

.talk {
  margin-top: 5px;
  color: #fff;
  font-size: 6em;
  text-decoration: none;
}

.sliding-u-l-r-l-inverse {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l-inverse:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    transition: width 0s ease;
}
.sliding-u-l-r-l-inverse:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    background: white;
    transition: width .5s ease;
}
.sliding-u-l-r-l-inverse:hover:before {
    width: 0%;
    background: white;
    transition: width .5s ease;
}
.sliding-u-l-r-l-inverse:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

.hire-us-container {
  height: 450px;
  background-color: #252525;
  text-align: center;
  padding: 50px 8% 0; 
}

footer {
  padding: 5px 2%;
  background-color: #252525;
  color: #999999;
  text-align: left;
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 0.8em;
}

.footer-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 1100px;
  margin: 0 auto;
  border-top: 1px #999999 solid;
}

.email-contact {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

.footer-center {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  text-align: center;
}

.love {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
}
.love-wrap {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

.contact-bottom {
  color: #999999;;
}

.contact-bottom:hover {
  opacity: 0.85;
}

.contact-bottom:before {
  content: "";
  background-image: url('../img/email.png');
  background-size: 20px 14px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.heart {
  color: #ed0f04;
}









/**************************************************************** 
*****************************************************************
*****************************************************************

MEDIA QUERIES

*****************************************************************
*****************************************************************
****************************************************************/

@media screen and (max-width: 1153px) and (min-width: 769px) {

.cd-headline {
  font-size: 2.7em;
  padding: 0 3%;
  line-height: 70px;
}

.subtitle {
  margin-top: 10px;
  font-size: 1.1em;
  line-height: 28px;
}

.flesy-container {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 1090px 1262px;
  max-height: 631px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 height: 1650px;  
}

.recent {
  height: 2700px;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}

.about-us {
  font-size: 0.95em;
}

.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by {
  font-size: 1.5em;
}

.mission {
  height: 750px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 60px auto 0;
  max-width: 840px;
  font-size: 3.6em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 10px;
  font-size: 5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}

.line {
  height: 12px;
}


}

@media screen and (max-width: 768px) and (min-width: 481px) {

.nav-icon1 {
  margin-top: 14px;
  margin-right: 15px;
  float: right;
  display: block;
}

.menu-ul, .menu-fixed {
  display: none;
}

.contact-top, .contact-fixed {
  display: none;
}

.clonedHeader {
  display: none;
}

.cd-headline {
  font-size: 1.9em;
  padding: 0 1%;
  line-height: 70px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 5px;
  font-size: 1.2em;
  line-height: 28px;
}

.flesy-container {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 1090px 1262px;
  max-height: 631px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.05em;
} 

.about {
 height: 1725px;  
}

.recent {
  height: 2510px;
  padding-top: 10px;
}

.icons-bottom {
  display: none;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}



.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by, .our-studio, .recent-work, .our-mission {
  font-size: 1.7em;
}

.mission-led {
  margin-top: 105px;
}

.mission {
  height: 650px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 40px auto 0;
  max-width: 840px;
  font-size: 2.7em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 0;
  font-size: 5.5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}

.line {
  height: 12px;
}


}


@media screen and (max-width: 480px) and (min-width: 321px) {

.nav-icon1 {
  margin-top: 23px;
  margin-right: 15px;
  float: right;
  display: block;
}

.nav-icon1 span {
  height: 2px;
}

.menu-ul, .menu-fixed {
  display: none;
}

.contact-top, .contact-fixed {
  display: none;
}

.clonedHeader {
  display: none;
}

.cd-headline {
  font-size: 1.22em;
  padding: 0 1%;
  line-height: 70px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: -5px;
  font-size: 0.95em;
  line-height: 25px;
}

.flesy-container {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 648px 750px;
  max-height: 375px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 65px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 height: 1825px;  
}

.recent {
  height: 2045px;
  padding-top: 10px;
}

.zep-title, .flesy-title, .linkedin-title {
  margin-top: 40px;
  font-size: 1.6em;
}

.zep-title {
  margin-top: 80px;
}

.linkedin-title {
  margin-top: 120px;
}

.icons-bottom {
  display: none;
}

.services-description {
  max-width: 600px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 30px;
}

.about-us {
  font-size: 0.95em;
}

.prod-strategy, 
.ui-ux-design {
  border-right: none;  
}

.powered-by, .our-studio, .recent-work, .our-mission {
  font-size: 1.7em;
}

.mission-led {
  margin-top: 105px;
}

.mission {
  height: 650px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 40px auto 0;
  max-width: 840px;
  font-size: 2.1em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}

.talk {
  margin-top: 0;
  font-size: 5.5em;
  padding: 0;
}

.rocket-img {
  margin: 60px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  font-size: 1.2em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 15px;
}

.love {
  order: 3;
  margin-bottom: 5px;
}



.line {
  height: 12px;
}



}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {


        /***********************************

        iPhone 5

        ************************************/

.nav-icon1 {
  margin-top: 22px;
  margin-right: 15px;
  float: right;
  display: block;
}

.menu-ul, .menu-fixed {
  display: none;
}

.logo-white, .logo-black {
  margin-top: 30px;
  margin-left: 15px;
  float: left;
}

.nav-icon1 span {
  height: 2px;
}

.nav-icon1 span:nth-child(1) {
  top: 11px;
}

.nav-icon1 span:nth-child(3) {
  top: 25px;
}

.contact-top, .contact-fixed {
  display: none;
}

.clonedHeader {
  display: none;
}

.top, .top-fixed {
  text-align: center;
}

.cd-headline {
  font-size: 1.26em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: -2px;
  font-size: 1.04em;
  line-height: 25px;
}

.flesy-container {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flesy-title, .flesy-description {
  text-align: center;
}

.flesy-description {
  margin-bottom: 45px;
  max-width: 500px;
}

.flesy-img {
  background-size: 478px 554px;
  max-height: 277px;
}

.download-flesy {
  float: none;
}

.flesy-img {
  margin-top: 55px;
}

.flesy-container {
  margin-top: 40px;
}

.linkedin-container {
  margin-top: 100px;
}

.about {
 padding-top: 60px;
 height: 1880px;  
}

.bar {
  margin-top: 75px;
}

.bar2 {
  margin-top: 60px;
}

.bar3 {
  margin-top: 60px;
}

.bar-title {
  padding: 11px 12px;
}

.recent {
  height: 1895px;
  padding-top: 10px;
}

.zep-title, .flesy-title, .linkedin-title {
  margin-top: 35px;
  font-size: 1.5em;
}

.zep-title {
  margin-top: 60px;
}

.icons-bottom {
  display: none;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 995px;
  padding: 35px 0 0;
}

.prod-strategy, 
.ui-ux-design, 
.development {
  margin: 15px;
  border-right: 0;
}

.strategy-title, .design-title, .dev-title {
  font-size: 1.15em;
}

.services-description {
  margin-left: 2.5px;
  margin-bottom: 25px;
  font-size: 1.02em;
}

.about-us {
 font-size: 1.02em;
}

.powered-by, .our-studio, .recent-work, .our-mission {
  font-size: 1.3em;
  letter-spacing: 3px;
}

.our-mission {
  margin-top: 70px;
}

.our-mission-description {
  margin-right: 10px;
  margin-left: 10px;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.02em;
} 

.mission-led {
  margin-top: 105px;
}

.mission {
  height:570px;
  padding: 0 5% 0;
}

.mission-statement {
  margin: 30px auto 0;
  max-width: 840px;
  font-size: 1.5em;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 3%;
}


.hire-us-container {
  height: 300px;
}

.talk {
  margin-top: 0;
  font-size: 3.5em;
  padding: 0;
}

.rocket-img {
  margin: 50px auto 0;
}

.icons-bottom {
  margin-top: -100px;
}

.help {
  margin-top: 50px;
  font-size: 1em;
}

.footer-wrap {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-center {
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
  margin: 5px 0;
}

.email-contact {
  -webkit-order: 2;
  -moz-order: 2;
  -ms-order: 2;
  order: 2;
  margin-bottom: 10px;
}

.love {
  -webkit-order: 3;
  -moz-order: 3;
  -ms-order: 3;
  order: 3;
  margin-bottom: 2px;
}

.line {
  background-size: 600px 30px;
  width: 200px;
  height: 12px;
}


}


/***************** 

FIM 

*****************/

@media screen and (min-device-width: 360px) and (max-device-width: 640px) {

.recent {
  height: 1905px;
}

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6

        ************************************/

.nav-icon1 {
  margin-top: 23px;
  margin-right: 15px;
  float: right;
  display: block;
}

.menu-ul, .menu-fixed {
  display: none;
}

.logo-white, .logo-black {
  margin-top: 30px;
  margin-left: 15px;
  float: left;
}


.logo-black {
  margin: 22px auto;
}

.cd-headline {
  font-size: 1.51em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 2px;
  font-size: 1.12em;
  line-height: 28px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 980px;
  padding: 35px 1.5% 0;
}

.powered-by, .our-studio, .recent-work, .our-mission {
  font-size: 1.55em;
  letter-spacing: 3px;
}

.about-us {
  font-size: 1.1em;
}

.services-description {
  font-size: 1.1em;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.1em;
}

.recent-work-description, .our-mission-description {
  margin-right: 30px;
  margin-left: 30px;
} 

.about {
 padding-top: 60px;
 height: 1895px;  
}


.bar2 {
  margin-top: 55px;
}


.recent {
  height: 1895px;
  padding-top: 10px;
}

.mission {
  height: 580px;
}

.help {
  margin-top: 56px;
  font-size: 1em;
}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
 
        /***********************************

        iPhone 6 Plus Portrait

        ************************************/


.nav-icon1 {
  margin-top: 25px;
  margin-right: 15px;
  float: right;
  display: block;
}

.menu-ul, .menu-fixed {
  display: none;
}

.logo-white, .logo-black {
  margin-top: 30px;
  margin-left: 15px;
  background-size: 252px 52px;
  max-height: 26px;
  float: left;
}


.logo-black {
  margin: 19px auto;
}

.cd-headline {
  font-size: 1.68em;
  padding: 0 1%;
  line-height: 60px;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 4px;
  font-size: 1.13em;
  line-height: 28px;
}

.services-flexbox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 1000px;
  padding: 35px 1.5% 0;
}

.about {
 padding-top: 60px;
 height: 1940px;  
}

.powered-by, .our-studio, .recent-work, .our-mission {
  font-size: 1.6em;
  letter-spacing: 3px;
}

.about-us {
  font-size: 1.1em;
}

.services-description {
  font-size: 1.1em;
}

.zep-description, .flesy-description, .linkedin-description {
  font-size: 1.1em;
} 

.our-studio-description {
  margin-right: 30px;
  margin-left: 30px;
} 

.recent-work-description, .our-mission-description {
  margin-right: 50px;
  margin-left: 50px;
} 

.recent {
  height: 1935px;
  padding-top: 10px;
}

.help {
  margin-top: 60px;
  font-size: 1em;
}

.footer-center {
  order: 1;
  margin: 5px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 6px;
}

.love {
  order: 3;
  margin-bottom: -2px;
}


}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6 Plus Landscape

        ************************************/




}

/***************** 

FIM 

*****************/



